html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    /* transition: all 0.5s ease; */
}

.container-animation {
    transition: all 0.5s ease;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    background-size: cover;
}

.section-1 {
    background-color: rebeccapurple;
}

.section-2 {
    background-color: skyblue;
}

.section-3 {
    background-color: firebrick;
}

.section-4 {
    background-color: orange;
}

.controls {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    list-style: none;
}

.controls li {
    width: 12px;
    height: 12px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s;
}

.controls li {
    margin-top: 16px;
}

.controls li.active {
    background-color: #fff;
}